# macOS-specific files
.DS_Store

# IntelliJ IDEA project files
.idea

# Visual Studio & VS Code files
.vs
.vscode
.vsconfig

# Xcode project files
*.xcodeproj
*.xcworkspace

# Solution-specific files
*.sln
*.slnf

# Unreal Engine files
Binaries
Build
Intermediate
Saved
DerivedDataCache
#Plugins

# User settings
*.sln.DotSettings.user
*.uproject.DotSettings.user
DefaultEditorPerProjectUserSettings.ini

# Automation Presets
Config/Automation/Presets
